<div *ngIf="! course" style="text-align:center">
	<img align="center" src="assets/images/ellipsis.gif" /><br/>
	<label>Just a moment..</label>
</div>

<div class="container" *ngIf="course">
	<div class="content">
		<img [src]="getCourseImageURL(course)" (error)="updateCourseImageURLtoDefault(course)" /><br/>
		<label>{{course.meta.title}}</label><br/><br/>
		<label>Author: {{course.meta.author}}</label><br/><br/>

		<button class="btn btn-success" (click)="gotoCourse()">Begin course</button><br/><br/>
		<pre class="description">{{course.getDescription()}}</pre>
	</div>
</div>