.dashboard-item {
    margin: 10px; 
    border:1px solid black; 
    cursor:pointer; 
    border-radius: 20px; 
    box-shadow:0px 0px 5px #000;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}